.button {
    background-color: #c19b9b;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #2f2a2a;
  
}
